@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-0 text-white font-sans overflow-x-hidden antialiased selection:bg-brand-primary selection:text-white;
  }
}
